.box {
  padding: 20px;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
}

.box.right {
  background: #005752;
}

.box.left {
  background: #00bfb6;
}

.right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #005752;
  border-right: 10px solid transparent;
  border-top: 10px solid #005752;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 0;
}

.left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 0;
}
